[submodule "deps/egui-toast"]
	path = deps/egui-toast
	url = https://github.com/urholaukkarinen/egui-toast.git
[submodule "deps/svg2polylines"]
	path = deps/svg2polylines
	url = https://github.com/armyofevilrobots/svg2polylines.git
